@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(0, 0%, 90%);

}

.bg-vetTech {
    background-image: url("../src/assets/images/BackGround-gatitos.svg");
    background-repeat: no-repeat;
}

/* Fuentes */
@font-face {
    font-family: 'manrope';
    src: url('/src/assets/fonts/Manrope-Regular.ttf') format('truetype');
};

@font-face {
    font-family: 'alata';
    src: url('/src/assets/fonts/Alata-Regular.ttf') format('truetype');
}


/* hovers */

.hover-register:hover {
    color: #000000;
    text-decoration: underline;
}

.hover-forgotPassword:hover {
    text-decoration: underline;
}


/* Navbar */

.active {
    color: hsl(277, 62%, 51%);
    /* transform: translateY(60%); */
    position: relative;
}


.non-active{
    color: hsl(0, 0%, 15%);
}

.non-active:hover {
    color: hsl(0, 3%, 94%);
}

.eliptical-radius {
    border-radius: 30% 15%;
    transform: rotate(135deg) translate(-21px, 21px);
}